<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/nav-admin"></th:block>
<div class="container text-center" style="width: 400px">
<h1>Users</h1>
    <table class="table">
        <thead>
        <tr class="font-weight-bold">
            <th class="w-5">#</th>
            <th class="w-50">Username</th>
            <th class="w-50">Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="users, iter : ${allUsers}" th:object="${users}">
            <td class="w-5" th:text="${iter.index + 1}"></td>
            <td class="w-50" th:text="*{username}"></td>
            <td class="w-50" th:text="*{lastName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>