<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/nav-patients"></th:block>

<h1>List of Appointments for today</h1>
<table class="table">
    <thead>
    <tr class="font-weight-bold">
        <th class="w-5">#</th>
        <th class="w-50">Name</th>
        <th class="w-25">Time slot</th>
        <th class="w-50">Appointment with</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment, iter : ${todayAppointments}" th:object="${appointment}">
        <td class="w-5" th:text="${iter.index + 1}"></td>
        <td class="w-50" th:text="*{patientName}"></td>
        <td class="w-25" th:text="*{#temporals.format(appointmentSlot, 'HH:mm | dd/MM/yyyy')}"></td>
        <td class="w-50" th:text="*{staffMember}"></td>
    </tr>
    </tbody>
</table>
<h1>List of future appointments</h1>
<table class="table">
    <thead>
    <tr class="font-weight-bold">
        <th class="w-5">#</th>
        <th class="w-50">Name</th>
        <th class="w-25">Time slot</th>
        <th class="w-50">Appointment with</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment, iter : ${futureAppointments}" th:object="${appointment}">
        <td class="w-5" th:text="${iter.index + 1}"></td>
        <td class="w-50" th:text="*{patientName}"></td>
        <td class="w-25" th:text="*{#temporals.format(appointmentSlot, 'HH:mm | dd/MM/yyyy')}"></td>
        <td class="w-50" th:text="*{staffMember}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>