<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/nav-patients"></th:block>

<h1>List of patients</h1>
<table class="table">
    <thead>
    <tr class="font-weight-bold">
        <th class="w-5">#</th>
        <th class="w-15">Name</th>
        <th class="w-15"></th>
        <th class="w-15"></th>
        <th class="w-25">Patient number</th>
        <th class="w-50">Birthdate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patients, iter : ${allPatients}" th:object="${patients}">
        <td class="w-5" th:text="${iter.index + 1}"></td>
        <td class="w-15" th:text="*{firstName}"></td>
        <td class="w-15" th:text="*{otherNames}"></td>
        <td class="w-25" th:text="*{lastName}"></td>
        <td class="w-25" th:text="*{patientNumber}"></td>
        <td class="w-50" th:text="*{birthdate}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>