<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/nav-patients"></th:block>
<h1 style="text-align: center">Payment / Invoice</h1>
<div class="container text-center" style="width: 400px">
    <form th:action="@{/patients/payments}" th:method="POST">
        <div class="form-group">
            <label>Patient number:</label>
            <input type="number" class="form-control" id="patientNumber" name="patientNumber">
        </div>
        <div class="form-group">
            <label>Amount:</label>
            <input type="number" class="form-control" id="amount" name="amount">
        </div>
        <div class="form-group">
            <label>Payment method:</label>
            <input type="text" class="form-control" id="paymentMethod" name="paymentMethod">
        </div>
        <br />
        <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>
<hr />
<h1>List of payments of the day</h1>
<table class="table">
    <thead>
    <tr class="font-weight-bold">
        <th class="w-5">#</th>
        <th class="w-50">Patient number</th>
        <th class="w-25">Amount</th>
        <th class="w-50">Payment method</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="payment, iter : ${todayPayment}" th:object="${payment}">
        <td class="w-5" th:text="${iter.index + 1}"></td>
        <td class="w-50" th:text="*{patientNumber}"></td>
        <td class="w-25" th:text="*{amount}"></td>
        <td class="w-50" th:text="*{paymentMethod}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>