<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">EIR - Electronic Patient Record System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/contact">Contact us <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <form th:action="@{/login}" th:method="GET">
                <button type="submit">Login</button>
            </form>
           <!-- <a class="nav-link" href="/entry">Login</a>-->
        </li>
    </ul>
</nav>