<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/nav-medical"></th:block>
<h1>All medical records</h1>
<table class="table">
    <thead>
    <tr class="font-weight-bold">
        <th class="w-5">#</th>
        <th class="w-50">Patient Number</th>
        <th class="w-25">Diagnosis Code</th>
        <th class="w-50">Follow up</th>
        <th class="w-25">Creation time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="medical, iter : ${allMedicalRecords}" th:object="${medical}">
        <td class="w-5" th:text="${iter.index + 1}"></td>
        <td class="w-50" th:text="*{patientNumber}"></td>
        <td class="w-25" th:text="*{diagnosisCode}"></td>
        <td class="w-50" th:text="*{followUp}"></td>
        <td class="w-25" th:text="*{#temporals.format(creationTime, 'HH:mm | dd/MM/yyyy')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>